%h2.text-center Edit #{resource.name}
%br

.row
  .col-sm-8.col-sm-offset-2
    = form_for(resource, :as  => resource_name,
                         :url => registration_path(resource_name),
                         :html => { :class => "form-horizontal",
                                    :role  => "form" }) do |f|
      = devise_error_messages!

      = render "users/user_form", :f => f

      = f.submit "Update", :class => "btn btn-primary btn-lg"
