= render 'shared/error_messages', :object => f.object

.form-group{ :class => "#{has_error?(f.object, :email)}" }
  = f.label :email, :class => "col-sm-2 control-label"
  .col-sm-4
    = f.text_field :email, :class => "form-control"
.form-group{ :class => "#{has_error?(f.object, :name)}" }
  = f.label :name, :class => "col-sm-2 control-label"
  .col-sm-4
    = f.text_field :name, :class => "form-control"
.form-group{ :class => "#{has_error?(f.object, :password)}" }
  = f.label :password, :class => "col-sm-2 control-label"
  .col-sm-4
    = f.password_field :password, :class => "form-control"
.form-group{ :class => "#{has_error?(f.object, :password_confirmation)}" }
  = f.label :password_confirmation, "Confirmation",
            :class => "col-sm-2 control-label"
  .col-sm-4
    = f.password_field :password_confirmation, :class => "form-control"
.form-group
  = label_tag "Role", nil, :class => "col-sm-2 control-label"
  .col-sm-4
    - for role in Role.all
      .col-sm-12
        = check_box_tag "user[role_ids][]", role.id, @user.roles.include?(role)
        = role.name

