%tr{ :id => "#{customer.id}" }
  - if can? :destroy, customer
    %td
      = check_box_tag "customer_#{customer.id}", customer.id,
                      false, :class => "customer-selection"
  - else
    %td

  %td= link_to customer.name, customer

  %td= customer.phone

  %td= customer.email

  %td= customer.organization

  %td= customer.province

