= f.label :name
= f.text_field :name

= f.label :email
= f.text_field :email

= f.label :tel, "Phone number"
= f.text_field :tel

= f.label :ins, "Institution"
= f.text_field :ins

= f.label :pro, "Province"
= f.text_field :pro

= f.label :add, "Address"
= f.text_field :add
