#new-project-modal.modal.fade{ :tabindex => "-1",                       |
                               :role     => "dialog",                   |
                               :aria     => {                           |
                                 :labelledby => "newProjectModalLabel", |
                                 :hidden     => "true" } }
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        %button.close{ :type => "button",
                       :data => { :dismiss => "modal" } }
          %span{ :aria => { :hidden => "true" } } &times;
          %span.sr-only Close
        %h4#newProjectModalLabel.modal-title New Project
      .modal-body
        = form_for(@project, :url    => projects_path,
                             :method => 'POST',
                             :format => :json,
                             :remote => true,
                             :html   => { :id   => "new_project",
                                          :role => "form" }) do |f|
          - if f.object.errors.any?
            - f.object.errors.full_messages.each do |msg|
              %p= msg
          .form-group
            = f.label :acc, "Accession"
            %br
            = f.text_field :acc, :class => "form-control"
          .form-group
            = f.label :start_date
            %br
            = f.date_field :start_date, :class => "form-control"
          .form-group
            = f.label :deadline
            %br
            = f.date_field :deadline, :class => "form-control"
          = f.submit "Create", :class => "btn btn-default btn-primary btn-sm"
