.panel.panel-primary
  .panel-heading Setting properties
  .panel-body
    .form-group
      = f.label :acc, "Accession", :class => "col-sm-4 control-label"
      .col-sm-6.input-group
        = f.text_field :acc, :class => "form-control"
        %span.input-group-addon
          %span.glyphicon.glyphicon-pencil

    .form-group
      = f.label :salesman, :class => "col-sm-4 control-label"
      .col-sm-6.input-group
        %select.form-control{ :name => "project[salesman_id]" }
          %option
          - @salesmen.each do |salesman|
            - selected_tag = (f.object.salesman_id == salesman.id) ? true : false
            %option{ :value => salesman.id, :selected => selected_tag }= salesman.name
        %span.input-group-addon
          %span.glyphicon.glyphicon-user

    .form-group
      = f.label :start_date, "Start date", :class => "col-sm-4 control-label"
      .col-sm-6.input-group
        = f.text_field :start_date, :class => "form-control datepicker"
        %span.input-group-addon
          %span.glyphicon.glyphicon-calendar

    .form-group
      = f.label :deadline, :class => "col-sm-4 control-label"
      .col-sm-6.input-group
        = f.text_field :deadline, :class => "form-control datepicker"
        %span.input-group-addon
          %span.glyphicon.glyphicon-calendar

%br
.panel.panel-primary
  .panel-heading Adding customers
  .panel-body
    .form-group
      = f.label :customer_ids, "Customers", :class => "col-sm-4 control-label"
      .col-sm-6.input-group
        - current_customer_ids = @project.customers.pluck(:id)
        %select.form-control{ :name => "project[customer_ids][]", :multiple => true }
          - @customers.pluck(:district).uniq.each do |district|
            %optgroup{ :label => district }
              - @customers.select { |c| c.district == district }.each do |customer|
                - selected_tag = current_customer_ids.include?(customer.id)? true : false;
                %option{ :value => customer.id, :selected => selected_tag } #{customer.name}
        %span.input-group-addon
          %span.glyphicon.glyphicon-user

    = link_to "Need new customer?", new_customer_path,
              :class => "col-sm-offset-4"

