.panel.panel-primary
  .panel-heading Setting properties
  .panel-body
    .form-group
      = f.label :acc, "Accession",
                :class => "col-sm-2 col-sm-offset-1 control-label"
      .col-sm-6.col-sm-offset-4.input-group
        = f.text_field :acc, :class => "form-control"
        %span.input-group-addon
          %span.glyphicon.glyphicon-pencil
    .form-group
      = f.label :start_date, "Start date",
                :class => "col-sm-2 col-sm-offset-1 control-label"
      .col-sm-6.col-sm-offset-4.input-group
        = f.text_field :start_date, :class => "form-control datepicker"
        %span.input-group-addon
          %span.glyphicon.glyphicon-calendar
    .form-group
      = f.label :deadline,
                :class => "col-sm-2 col-sm-offset-1 control-label"
      .col-sm-6.col-sm-offset-4.input-group
        = f.text_field  :deadline, :class => "form-control datepicker"
        %span.input-group-addon
          %span.glyphicon.glyphicon-calendar



%br
.panel.panel-primary
  .panel-heading Setting customers
  .panel-body

