%h2 All Projects
%br

.btn-toolbar{ :role => "toolbar" }
  .btn-group
    - if can?(:create, Project)
      %a.btn.btn-primary{ :href => new_project_path }
        %span.glyphicon.glyphicon-plus
        New project
    - if can?(:destroy, Project)
      %button.btn.btn-primary#destroy-projects{:type => "button",
          :disabled => true,
          :onclick => "destroy_projects()"}
        %span.glyphicon.glyphicon-minus
        Remove project(s)
%br

%table.table.table-striped#projects-table
  %tr
    - if can? :destroy, Project
      %th.col-sm-1
    %th Acc.
    %th Starts from
    %th Deadline
    %th Ends at
    %th Samples received
    %th Experiments
    %th Analysis
    %th Report sent
  - @projects.each do |project|
    = render 'project', :project => project

= paginate @projects

= select_tag  "set-samples-receiver",
              options_for_select(@mkt_role.get_users_options),
              :prompt => "Select one",
              :class  => "form-control input-sm hidden"
= select_tag  "set-experimenter",
              options_for_select(@exp_role.get_users_options),
              :prompt => "Select one",
              :class  => "form-control input-sm hidden"
= select_tag  "set-bioinformatician",
              options_for_select(@bin_role.get_users_options),
              :prompt => "Select one",
              :class  => "form-control input-sm hidden"
= select_tag  "set-report-sender",
              options_for_select(@mkt_role.get_users_options),
              :prompt => "Select one",
              :class  => "form-control input-sm hidden"
