%nav.navbar.navbar-default{ :role => "navigation" }
  .container
    .navbar-header
      %button.navbar-toggle{ :type => "button",
                             :data => { :toggle => "collapse",
                                        :target => "#bipc-navbar" } }
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{ :href => "#{root_path}", :title => "BIPC" }
        %img{ :src => "/bipc.png" }
    #bipc-navbar.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        - if current_page?(root_path) && user_signed_in?
          - if !current_user.role?(:admin)
            #project_objects{ :data => { :projects => @project_accs } }
            %li
              %form.navbar-form.navbar-left{:name => "project_acc",
                  :action => 'homepages/goto_project' }
                .from-group
                  %input.form-control#go_to_project{ :type => "text",
                      :placeholder => "Go to project",
                      :name => "project_acc" }
        - if can? :index, Customer
          %li= link_to "Customers", customers_path
        - if can? :index, Project
          %li= link_to "Projects", projects_path
        - if can? :index, Sample
          %li= link_to "Samples", samples_path
        - if user_signed_in?
          %li.dropdown
            %a.dropdown-toggle{ :href => "#",
                                :data => { :toggle => "dropdown" } }
              = current_user.name || 'Anonymous'
              %span.caret
            %ul.dropdown-menu{ :role => "menu" }
              %li
                = link_to "Profile", user_path(current_user)
              %li
                = link_to "Settings", edit_user_registration_path
              %li.divider
              - if can? :index, User
                %li
                  = link_to "Users management", users_path
                %li.divider
              %li
                = link_to "Logout", destroy_user_session_path,
                          :method => :delete
        - else
          %li
            %a{ :href => "#",
                :data => { :toggle => "modal", :target => "#login-modal" } }
              Login

