%nav.navbar.navbar-default.navbar-fixed-top{ role: "navigation" }
  .container-fluid
    .navbar-header
      %button.navbar-toggle{ type: "button",
                             data: { toggle: "collapse",
                                     target: "#bipc-navbar" } }
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "BIPC", root_path, class: "navbar-brand"
    #bipc-navbar.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li{ class: "#{current_page?('/') ? 'active' : ''}" }
          = link_to "Home", root_path
        %li{ class: "#{current_page?('/customers') ? 'active' : ''}" }
          = link_to "Customers", customers_path
        %li{ class: "#{current_page?('/projects') ? 'active' : ''}" }
          = link_to "Projects", projects_path
        - if user_signed_in?
          %li.dropdown
            %a.dropdown-toggle{ href: "#", data: { toggle: "dropdown" } }
              = current_user.name
              %span.caret
            %ul.dropdown-menu{ role: "menu" }
              %li
                = link_to "Profile", user_path(current_user)
              %li
                = link_to "Settings", edit_user_path(current_user)
              %li.divider
              %li
                = link_to "Logout", destroy_user_session_path, method: :delete
        - else
          %li
            %a{ href: "#",
                data: { toggle: "modal", target: "#login-modal" } }
              Login

