%nav.navbar.navbar-default.navbar-fixed-top{ :role => "navigation" }
  .container
    .navbar-header
      %button.navbar-toggle{ :type => "button",
                             :data => { :toggle => "collapse",
                                        :target => "#bipc-navbar" } }
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "BIPC", root_path, :class => "navbar-brand"
    #bipc-navbar.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li
          = link_to "Home", root_path
        - if can?(:index, Customer) || can?(:create, Customer)
          %li.dropdown
            %a.dropdown-toggle{ :href => "#",
                                :data => { :toggle => "dropdown" } }
              customers
              %span.caret
            %ul.dropdown-menu{ :role => "menu" }
              %li= link_to "All customers", customers_path
              %li= link_to "New customer",  new_customer_path
        - if can?(:index, Project) || can?(:create, Project)
          %li.dropdown
            %a.dropdown-toggle{ :href => "#",
                                :data => { :toggle => "dropdown" } }
              Projects
              %span.caret
            %ul.dropdown-menu{ :role => "menu" }
              %li= link_to "All projects", projects_path
              %li= link_to "New project",  new_project_path
        - if user_signed_in?
          %li.dropdown
            %a.dropdown-toggle{ :href => "#",
                                :data => { :toggle => "dropdown" } }
              = current_user.name || 'Anonymous'
              %span.caret
            %ul.dropdown-menu{ :role => "menu" }
              %li
                = link_to "Profile", user_path(current_user)
              %li
                = link_to "Settings", edit_user_registration_path
              %li.divider
              - if can? :index, User
                %li
                  = link_to "Users management", users_path
                %li.divider
              %li
                = link_to "Logout", destroy_user_session_path,
                          :method => :delete
        - else
          %li
            %a{ :href => "#",
                :data => { :toggle => "modal", :target => "#login-modal" } }
              Login

