!!! 5
%html
%head
  %title= page_title
  = favicon_link_tag image_path('favicon.ico')
  = stylesheet_link_tag 'application', :media => 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags

%body
  = render 'layouts/header'

  .container
    = render 'layouts/notice'
    = yield

  = render 'layouts/login_modal'
  = render 'layouts/reset_password'

  = render 'layouts/footer'
